<%= form_for(@deploy_task) do |f| %>
  <% if @deploy_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deploy_task.errors.count, "error") %> prohibited this deploy_task from being saved:</h2>

      <ul>
      <% @deploy_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :issue %><br />
    <%= f.text_field :issue %>
  </div>
  <div class="field">
    <%= f.label :stage_id %><br />
    <%= f.number_field :stage_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
